.AssociacaoMundial {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.world-girls-banner {
  background-image: url('../../assets/images/AssociacaoMundial/Associação_Mundial.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}

.world-association {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.world-logo {
  width: 35%;
  height: auto;
}

.world-text {
  text-align: center;
  max-width: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #004982;
  font-size: 16px;
  margin: 0px 55px;
}

.voice-sentence {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 70px 0px;
  background-color: #1AA3DB;
  color: white;
  font-size: 25px;
  line-height: 1.5;
}

.world-objectives {
  background-color: #f6f6f6;
  padding: 50px 100px 50px 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.objectives-side {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
}

.objectives-side ul {
  padding: 0px !important;
}

.objectives-title {
  color: #1AA3DB;
  font-size: 25px;
  font-weight: 600;
}

.objectives-text li {
  font-size: 16px;
  margin: 18px;
}
.centers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.centers-side {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.centers-left {
  padding: 30px 65px;
  width: 600px;
}

.centers-title {
  color: #1AA3DB !important;
  font-size: 25px;
  height: 25px;
  margin: 20px 0px 20px 0px;
}

.centers-text {
  font-size: 16px;
}

.centers-side ul {
  padding-left: 5px;
}

.centers-side li {
  margin: 18px;
  height: 13px;
  font-size: 16px;
}

.world-centers {
  width: 100%;
  height: auto;
}

.thought-section {
  padding: 50px 0px;
  background-color:#1AA3DB;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.right-section, .left-section {
  width: 37%;
  margin: 0px 50px;
  display: flex;
  flex-direction: row;
  font-weight: 500;
}

.clover, .piggy {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.penny-title {
  font-size: 25px;
  color: white;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.penny-text {
  font-size: 16px;
  color: rgba(255,255,255,0.6);
}

.button-section {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.ser-guia-button {
  border-style: none;
  border-radius: 50px;
  font-size: 20px;
  padding: 6px 12px;
  outline: none !important;
}

.ser-guia-button:hover {
  font-weight: 700;
}

.associacao-button {
  background-color: #154A7F;
  color: white
}


@media(max-width: 768px) {
  .world-logo {
    width: 50%;
    height: auto;
  }
  .world-text {
    font-size: 16px;
  }
  .world-objectives {
    background-color: #f6f6f6;
    padding: 50px 50px;
    flex-direction: column;
    align-items: center;
  }
  .objectives-side {
    width: 350px;
    margin: 0 auto;
  }
  .centers {
    flex-direction: column;
  }
  .centers-side {
    width: 100%;
  }
  .centers-left {
    width: 450px;
  }
  .right-section, .left-section {
    width: 70%;
  }
  .left-section {
    margin-bottom: 30px;
  }
}