.ConteudoNoticia{
    background-color: #f6f6f6;
    font-family: 'Poppins' !important;
}

.CardConteudoNoticia{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,.075);
    border-style: none;
    margin-bottom: 70px;
    background-color: #fff;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 100px;
    margin-left: 100px;
    
}

.TitleCardConteudoNoticia {
    color: #1AA3DB;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: 600;
}

 .ImgCardConteudoNoticia {
    height: auto;
    width: auto;
    padding-top: 50px;
 }