.QueresSerGuia {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 100px;
}

.guia-megafone {
  width: 60%;
  height: 60%;
}

.guia-text-section {
  width: 250px;
  text-align: center;
}

.guia-title {
  text-align: center;
  font-size: 25px;
  color: #3b99e0;
  margin: 20px 0px;
}

.guia-text {
  text-align: center;
  font-size: 16px;
  color: #004982;
  margin-bottom: 40px;
  opacity: 0.8;
}

.guia-form-section form {
  max-width: 500px;
  padding: 40px;
  border-top: 2px solid #5ea4f3;
  background-color: white !important;
  box-shadow: 0 2px 10px rgba(0,0,0,.075);
}

.guia-label {
  margin-bottom: 5px;
}

.guia-form-section input {
  width: 420px;
  margin-bottom: 10px;
}

.recolha-dados-text {
  font-size: 10px;
  text-align: justify;
  line-height: 18px;
  margin-top:20px;
}

.guia-button-section {
  margin: 30px 0px 10px 0px;
  display: flex;
  justify-content: center;
}

.guia-form-button {
  box-shadow: 0 3px 20px 0 #000000;
  background-color: #004982;
  border-radius: 30px;
  color: white;
  font-weight: 500;
  border: 1px solid transparent;
  outline: none !important;
  padding: 6px 15px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif !important;
}

.guia-form-button:hover {
  font-weight: bold;
  background-color: #007bff !important;
  opacity: 0.7;
}

.form-error {
  color: red;
  font-size: 10px;
  margin-top: -10px;
}

.message-error {
  color: red;
  font-size: 10px;
  margin-top: 0px;
}

@media(max-width: 768px) {
  .guia-form-section {
    width: 400px;
  }
  .guia-form-section input {
    width: 320px;
  }
  .guia-megafone {
    width: 40%;
    height: 40%;
  }
}