.SedeNacional {
  background-color: #1AA3DB;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 50px 20px 10px 20px;
  margin-top: 30px;
}

.sede-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 10px 30px 10px;
}

.contactos-icon {
  width: 40px;
  height: 40px;
  margin: 0px 30px 0px 0px;
}

.contactos-title {
  font-weight: 600;
  font-size: 20px;
  color: white;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

.contactos-text {
  width: 280px;
  font-weight: 500;
  font-size: 15px;
  color: rgba(255,255,255,0.6);
}

.sede-text-bold {
  font-weight: 600;
}

.sede-title {
  font-weight: 600;
  text-transform: uppercase;
}

.sede-margin {
  margin-bottom: 20px;
}

@media(max-width:768px) {
  .SedeNacional {
    flex-direction: column;
    align-items: center;
  }
  .contactos-icon {
    width: 35px;
    height: 35px;
  }
}