.MediaShare {
  padding: 30px 10px 30px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  justify-content: center;
}

.share-text {
  font-weight: 500;
  color: #08416A;
  margin-right: 5px;
}

.share-button {
  margin-left: 3px;
}

@media(max-width: 768px) {
  /* .MediaShare {
    padding: 30px 0px 0px 0px;
  } */
  .MediaShare svg {
    width: 28px;
    height: 28px;
  }
  .share-text {
    font-size: 12px;
  }
}
