.language-selector {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 20px;
}

.language-selector input {
  cursor: pointer;
}

.lang-icon {
  width: 22px;
  height: 25px;
  margin: 0px 10px 0px 5px;
}

/* @media(max-width: 1091px) {
  .language-selector {
    margin-left: 30px;
  }
} */