.Login {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f6f6f6 !important;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.login-card {
  width: 450px;
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(198, 198, 198);
  border-radius: 10px;
  box-shadow: 0 1px 13px 0 #a9a9a9;
  background-color: white;
  /* transform: translateY(50%); */
}

.login-card-section {
  display: flex;
  justify-content: center;
}

.login-logo {
  height: 130px;
}

.login-icons {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.login-middle-section {
  border-top: solid 1px rgb(198, 198, 198);
  border-bottom: solid 1px rgb(198, 198, 198);
}

.login-middle-section form {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 20px 20px;
}

.login-middle-section input {
  margin: 0px 0px 10px 0px;
  border: solid 1px rgb(198, 198, 198);
  border-radius: 5px;
  padding: 2px 5px;
}

.login-button {
  padding: 7px 30px;
  margin: 30px 0px 20px 0px;
  border-radius: 5px;
  color: white;
  background-color: #004982;
  outline: none;
  border-style: none;
}

.login-forgot {
  text-align: center;
  margin-bottom: 20px;
  font-size: 12px;
}