.LigacoesUteis {
  margin-top: 160px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.ligacoes-title {
  margin-top: 30px;
  text-align: center;
  color: #1AA3DB;
  font-size: 32px;
  font-weight: 500;
}

.ligacoes-text {
  text-align: center;
  color: #004982;
  font-size: 18px;
  margin: 20px;
  max-width: 800px;
}

.ligacoes-list {
  display: flex;
  justify-content: center;
  margin: 40px 0px 80px 0px;
}

.ligacoes-items {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
}

@media(max-width: 768px) {
  .ligacoes-list {
    margin: 40px auto 80px auto;
    width: 350px;
  }
}
