.Metodo-Guidista {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 170px;
}

.guidista-banner {
  background-image: url('../../assets/images/MetodoGuidista/Método_Guidista.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}

.guidista-intro, .constantes-intro {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.guidista-intro-title, .constantes-intro-title {
  color: #1aa3db;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin: 50px 0px 20px 0px;
}

.guidista-intro-text, .constantes-intro-text {
  max-width: 450px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #004982;
  font-size: 16px;
  margin-bottom: 20px;
}

.guidista-metodos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: #1AA3DB;
  color: white;
  text-transform: uppercase;
}

.guidista-metodos {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.metodos-title {
  font-size: 24px;
  margin: 40px 0px;
  text-align: center;
}

.metodo-box-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 40px;
}

.metodo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.metodo-box-title {
  width: 145px;
  text-align: center;
  font-weight: 500;
}

.metodo-box-img {
  margin-top: 20px;
  width: 90px;
  height: 90px;
}

/*  CONSTANTES  */

.constantes-intro-text {
  width: 700px;
}

.constantes-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.constante-section {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  position: relative;
}

.constante-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}
.constante-img-1 {
  background-image: url('../../assets/images/MetodoGuidista/1.Vida_em_Grupo.jpg');
}
.constante-img-2 {
  background-image: url('../../assets/images/MetodoGuidista/2.Vida_ao_Ar_Livre.jpg');
}
.constante-img-3 {
  background-image: url('../../assets/images/MetodoGuidista/3.Compromisso.jpg');
}
.constante-img-4 {
  background-image: url('../../assets/images/MetodoGuidista/4.Progressão.jpg');
}

.constante-section .constante-info {
  display: none;
}

.constante-section:hover .constante-info {
  display: flex;
}

.constante-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
  background-color: rgba(26, 163, 219, 0.6);
}

.constante-title {
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.constante-text {
  font-size: 18px;
}

.atividades-sentence {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #1AA3DB;
  color: white;
}

.atividades-sentence-title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
  margin: 60px 0px 20px 0px;
}

.atividades-sentence-text {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  width: 550px;
  margin-bottom: 70px;
}

.atividades-section, .atividades-section-two {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}
.atividades-section-two {
  flex-wrap: wrap-reverse;
}

.atividades-section-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: white !important;
  padding: 40px 80px 40px 100px;
}
.atividades-title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #1AA3DB;
}

.atividades-subtitle {
  text-transform: uppercase;
  text-decoration: underline;
}

.atividades-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.atividades-section-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50%;
}

.atividade-img-1 {
  background-image: url('../../assets/images/MetodoGuidista/1.Atividades_de_Campo.jpg');
}
.atividade-img-2 {
  background-image: url('../../assets/images/MetodoGuidista/2.Atividades_de_Sede.jpg');
}
.atividade-img-3 {
  background-image: url('../../assets/images/MetodoGuidista/3.Atividade_de_Cidade.jpg');
}
.atividade-img-4 {
  background-image: url('../../assets/images/MetodoGuidista/4.Serviço_Comunitário.jpg');
}
.atividade-img-5 {
  background-image: url('../../assets/images/MetodoGuidista/5.Experiências_Internacionais.jpg');
}


.projetos-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 70px 0px;
}

.projetos-title {
  color: #1aa3db;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.projetos-text {
  max-width: 750px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #004982;
  font-size: 16px;
}

@media(max-width: 768px) {
  .guidista-banner {
    height: 180px;
  }
  .guidista-intro-text,
  .metodos-title,
  .constantes-intro-title,
  .constantes-intro-text,
  .projetos-title, 
  .projetos-text {
    width: 80%;
  }
  .guidista-intro-title,
  .metodos-title,
  .constantes-intro-title,
  .atividades-title,
  .atividades-sentence-title,
  .projetos-title {
    font-size: 20px;
  }
  .guidista-intro-text,
  .constantes-intro-text,
  .atividades-subtitle,
  .atividades-text,
  .projetos-text {
    font-size: 14px;
  }
  .metodo-box {
    margin: 5px 0px 15px 0px;
  }
  .metodo-box-title {
    font-size: 13px;
  }
  .metodo-box-img {
    width: 45px;
    height: 45px;
  }
  .constante-info {
    color: white;
    background-color: rgba(26, 163, 219, 0.6);
  }
  .constante-info-2 {
    color: #004982;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .constante-section {
    width: 100%;
  }
  .constante-title {
    font-size: 18px;
    /* font-size: 14px; */
    margin-bottom: 0px;
    text-align: center;
    letter-spacing: 0em;
  }
  .constante-text  {
    font-size: 14px;
    /* font-size: 12px; */
    font-weight: 500;
    flex-wrap: wrap;
    text-align: center;
  }
  .constante-section .constante-info {
    display: flex;
  }
  .constante-img,
  .atividades-section-img,
  .constante-info {
    height: 180px;
    width: 100%;
  }
  .atividades-sentence-title {
    margin: 30px 0px 20px 0px;
  }
  .atividades-sentence-text {
    font-size: 16px;
    width: 290px;
    margin-bottom: 40px;
  }
  .atividades-section {
    flex-direction: column;
  }
  .atividades-section-text {
    width: 100%;
  }
  .atividades-section-text {
    padding: 40px 40px 40px 40px;
  }
}