.RamosDirigente {
  margin-top: 110px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.ramos-banner {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 100%;
  display: inline-flex;
}

.ramos-photo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}

.avezinha-photo-1 {
  background-image: url('../../assets/images/RamosDirigente/Ramo_Avezinha_1.jpg');
  margin-right: 10px;
}
.avezinha-photo-2 {
  background-image: url('../../assets/images/RamosDirigente/Ramo_Avezinha_2.jpg');
  margin-right: 10px;
}
.avezinha-photo-3 {
  background-image: url('../../assets/images/RamosDirigente/Ramo_Avezinha_3.jpg');
}

.aventura-photo-1 {
  background-image: url('../../assets/images/RamosDirigente/Ramo_Aventura_1.jpg');
  margin-right: 10px;
}
.aventura-photo-2 {
  background-image: url('../../assets/images/RamosDirigente/Ramo_Aventura_2.jpg');
  margin-right: 10px;
}
.aventura-photo-3 {
  background-image: url('../../assets/images/RamosDirigente/Ramo_Aventura_3.jpg');
}

.caravela-photo-1 {
  background-image: url('../../assets/images/RamosDirigente/Ramo_Caravela_1.jpg');
  margin-right: 10px;
}
.caravela-photo-2 {
  background-image: url('../../assets/images/RamosDirigente/Ramo_Caravela_2.jpg');
  margin-right: 10px;
}
.caravela-photo-3 {
  background-image: url('../../assets/images/RamosDirigente/Ramo_Caravela_3.jpg');
}

.moinho-photo-1 {
  background-image: url('../../assets/images/RamosDirigente/Ramo_Moinho_1.jpg');
  margin-right: 10px;
}
.moinho-photo-2 {
  background-image: url('../../assets/images/RamosDirigente/Ramo_Moinho_2.jpg');
  margin-right: 10px;
}
.moinho-photo-3 {
  background-image: url('../../assets/images/RamosDirigente/Ramo_Moinho_3.jpg');
}

.dirigente-photo-1 {
  background-image: url('../../assets/images/RamosDirigente/Dirigente_1.jpg');
  margin-right: 10px;
}
.dirigente-photo-2 {
  background-image: url('../../assets/images/RamosDirigente/Dirigente_2.jpg');
  margin-right: 10px;
}
.dirigente-photo-3 {
  background-image: url('../../assets/images/RamosDirigente/Dirigente_3.jpg');
}

.ramos-sentence {
  height: auto;
  width: 90%;
  margin: -10px 50px 20px 20px;
}

.banner-sentence {
  height: auto;
  width: 100%;
}

.ramos-section {
  padding: 70px 50px 50px 50px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.avezinha {
  background-color: #FCE614;
  color: #154A7F;
}
.aventura {
  background-color: #277A4A;
  color: white;
}
.caravela {
  background-color: #D27123;
  color: white;
}
.moinho {
  background-color: #3C3F85;
  color: white;
}
.dirigente {
  background-color: #AD2518;
  color: white;
}

.ramos-text {
  width: 100%;
  opacity: 0.8;
  column-count: 2;
  margin: 0px 30px;
}

.ramos-text p {
  margin: 0px 60px 16px 60px;
}

.ramos-buttons-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.ramos-button {
  border-style: none;
  border-radius: 50px;
  font-size: 20px;
  padding: 6px 12px;
  outline: none !important;
  margin-top: 40px;
}

.blue-border {
  border: 1px solid #154A7F !important;
}

.white-border {
  border: 1px solid white !important;
}

.ramos-button:hover {
  font-weight: 700;
  background-color: white;
  opacity: 0.7;
  color: #154A7F;
}

.ramos-bold {
  font-weight: 600;
}

@media(max-width: 768px) {
  .ramos-text {
    column-count: 1;
    margin: 0px 10px;
    font-size: 14px;
  }
  .ramos-text p {
    margin: 0px 30px 16px 30px;
  }
  .ramos-side {
    width: 85%;
  }
}